@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  .gradient-text {
    background-image: linear-gradient(to left, from-rose-500, to-indigo-700);
    -webkit-background-clip: text;
    color: transparent;
}